apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{service_name}}
  labels:
    app: {{service_name}}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{service_name}}
  template:
    metadata:
      labels:
        app: {{service_name}}
    spec:
      containers:
      - name: {{service_name}}
        image: {{image_url}}
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: {{service_name}}
spec:
  selector:
    app: {{service_name}}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
